/* propiedades de posicionamiento */
/* propiedades del box model */
/* propiedades de texto */
/* propiedades visuales */
/* el resto de propiedades */


/* colores que me gustaron:  E0D8B0  FCFFE7  DEA057  CE9461 */

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

main{
  position: relative;
  top: 70px;
  z-index: -10;
  
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Roboto', sans-serif;  

  background-color: #FCFFE7;
}

.contenedor_body{
  z-index: -200;
  height: 0;
}

.header{
position: fixed;

  width: 100%;
  height: 70px;
  padding: 0px;
  margin: 0px;

  color: black;
  background-color: #E0D8B0;
  box-shadow: 5px 0 10px rgb(0, 0, 0, 0.6);
}

.h1{
  top: 0;

padding: 0px;
  margin: 0px;
  height: 30px;

font-size: 2rem;
font-family: 'Cormorant Garamond', serif;
font-weight: 700;
text-align: center;

background-color: transparent;
}

.img_menu{
  /* propiedades de posicionamiento */
padding: 0 30px;
margin-top: 5px;
/* propiedades del box model */
height: 60px;
/* propiedades de texto */
/* propiedades visuales */
background-color: transparent;
/* el resto de propiedades */
cursor: pointer;
}


.nav{
  /* propiedades de posicionamiento */
  position: fixed;
  right: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
/* propiedades del box model */
height: 30px;
width: 100%;
padding: 0px;
margin: 0px;
/* propiedades de texto */
/* propiedades visuales */
background-color: transparent;
/* el resto de propiedades */
}

.menu{
  /* propiedades de posicionamiento */
display: flex;
position: relative;
top: 25px;
/* propiedades del box model */
margin-right: 30px;
/* propiedades de texto */

/* propiedades visuales */
background-color: transparent;
/* el resto de propiedades */

}

.menu li{
  /* propiedades de posicionamiento */
  position: relative;
/* propiedades del box model */
margin: 0 10px;
padding: 0;
border-radius: 3px;
/* propiedades de texto */

/* propiedades visuales */
background-color: transparent;
/* el resto de propiedades */
list-style: none;
display: block;
margin: 0 20px;
}

/* subrallado de los elemntos de navegacion */
.menu li a::before{
content: "";
height: 3px;
width: 0%;
background-color: #CE9461;
position: absolute;
left: 0;
bottom: 2px;
transition: 0.4s ease-out;
}
.menu li a:hover::before{
  width: 100%;
}
/* subrallado de los elemntos de navegacion */



.menu li a{
padding: 7px 13px;

text-decoration: none;

background-color: transparent;

display: block;
cursor: pointer;
}

.material-symbols-outlined {
margin-right: 30px;
font-size: 2.2rem;
color: black;
background-color: transparent;
cursor: pointer;
display: none;
}




.footer{
  position: relative;
  bottom: -55px;
  align-items: center;

  width: 100%;
  height: 50px;
  padding: 13px;

  text-align: center;
  
  background-color: #E0D8B0;
}

.footer .elemento_nav{
  display: inline-block;

  width: 40px;
  margin: 0;
  padding: 0;

  color: black;
}

/* modificacion del estilo segun tamaño de pantalla */
@media screen and (max-width: 916px){
.nav ul li{
  width: 60px;
}
}



@media screen and (max-width: 858px){
  .material-symbols-outlined{
    display: inline-flex;
  }
  
  .img_menu{
    padding: 0 10px;
  }
  .header{
    text-align: center;
    width: 100%;
    position: fixed;
    transition: all .4s;
  }
  .menu{
    position: fixed;
    right: 0;

    width: 40vw;
    margin: 0;
    flex-direction: column;
    height: calc(100% - 70px);
    top: -100vh;
    text-align: center;
    transition: all .4s ;
  }


  .menu li a{
    display: inline-block;
  }
  /* subrallado de los elemntos de navegacion */
  .menu li a:hover::before{
    width: 90px;
  }
  /* subrallado de los elemntos de navegacion */
  

  .show{
    top: 70px;
    background-color:#E0D8B0;
    z-index: 10;
  } 
}
/* modificacion del estilo segun tamaño de pantalla */
















/* estilo del formulario */

.formulario{
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 20px;
}

.formulario_label{
  display: block;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

.formulario_grupo_input{
position: relative;
}

.formulario_input{
  width: 100%;
  background: white;
  border: 3px solid transparent;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: .3s ease all;
}
.formulario_input:focus{
  border: 3px solid #0075ff;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.formulario_input_error{
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.formulario_input_error-activo{
display: block;
}

.formulario_validacion{
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.formulario_checkbox{
  margin-right: 10px;
}

.formulario_grupo_terminos, .formulario_mensaje, .formulario_div_boton{
  grid-column: span 2;
}

.formulario_mensaje{
  height: 45px;
  line-height: 45px;
  background: #f66860;
  padding: 0 15px;
  border-radius: 3px;
  margin: 0;
  display: none;
}

.formulario_mensaje-activo{
  display: block;
}

.formulario_p_boton{
  position: relative;
  top: 6px;
  font-weight: 500;
}

.formulario_div_boton{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario_boton{
  height: 45px;
  line-height: 45px;
  width: 30%;
  background: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .1s ease all;
}

.formulario_boton:hover{
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario_texto_exito{
  font-size: 14px;
  color: #119200;
  display: none;
}

.formulario_texto_exito-activo{
  display: block;
}


.formulario_grupo-correcto .formulario_validacion{
  color: #1ed12d;
  opacity: 1;
}

.formulario_grupo-incorrecto .formulario_label{
  color: #bb2929;
}

.formulario_grupo-incorrecto .formulario_validacion{
  color: #bb2929;
  opacity: 1;
}

.formulario_grupo-incorrecto .formulario_input{
  border: 3px solid #bb2929;
  
}

@media screen and (max-width: 800px){
  .formulario{
      grid-template-columns: 1fr;
  }
  .formulario_grupo_terminos, .formulario_mensaje, .formulario_div_boton{
      grid-column: span 1;
  }
  .formulario_boton{
      width: 100%;
  }
}