/* propiedades de posicionamiento */
/* propiedades del box model */
/* propiedades de texto */
/* propiedades visuales */
/* el resto de propiedades */


/* colores que me gustaron:  E0D8B0  FCFFE7  DEA057  CE9461 */

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style:none;
  color: var(--color-5);
}
*::selection{
  color:var(--color-5);
  background-color: #E0D8B0 ;
} 

:root{
  --slide-transform:0;
  --transition: transform 1s;
  --color-1: #E0D8B0;
  --color-2: #FCFFE7;
  --color-3: #DEA057;
  --color-4: #CE9461;
  --color-5: #000;
  --height-slider:200px;
}


.container{
  padding: 0;
  position:relative;
  width: 100%;
  min-width: 95vw;
}

main{
  position: relative;
  top: 70px;
  z-index: 0;

  width: 100%;
  padding: 0;
  margin: 0;
   
  font-family: 'Open Sans', sans-serif;

  background-color: var(--color-2);
}

.contenedor_body{
  z-index: -200;
  height: 100%;
  width: 100%;
}

.header{
position: fixed;
z-index: 1;

  width: 100%;
  height: 70px;
  padding: 0px;
  margin: 0px;

  background-color: var(--color-1);
  box-shadow: 5px 0 10px rgb(0, 0, 0, 0.6);
}

.h1{
  top: 0;

padding: 0px;
  margin: 0px;
  height: 30px;

font-size: 2rem;
font-family: 'Cormorant Garamond', serif;
font-weight: 700;
text-align: center;
text-shadow: 5px 5px 5px gray;

background-color: transparent;
}

h2,h3{
  font-family: 'Roboto', sans-serif; 
}

.img_menu{
  /* propiedades de posicionamiento */
padding: 0 30px;
margin-top: 5px;
/* propiedades del box model */
height: 60px;
/* propiedades de texto */
/* propiedades visuales */
background-color: transparent;
/* el resto de propiedades */
cursor: pointer;
}


.nav{
  /* propiedades de posicionamiento */
  position: fixed;
  right: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
/* propiedades del box model */
height: 30px;
width: 100%;
padding: 0px;
margin: 0px;
/* propiedades de texto */
/* propiedades visuales */
background-color: transparent;
/* el resto de propiedades */
}


/* cambiar el tema de la pagina */

.nav__theme{
  position: absolute;
  left: 120px;
  top: 40px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.nav__theme:hover{
  background-color: rgba(0, 0, 0, .2) ;
  border-radius: 100px;
  box-shadow: 0 0px 5px #000;
  cursor: pointer;
}

.nav__theme-moon{
  display: none;
}
.nav__theme-dark-sun{
  display: none;
}
.nav__theme-dark-moon{
  display: block;
}

/* cambiar el tema de la pagina */

.menu{
  /* propiedades de posicionamiento */
display: flex;
position: relative;
top: 25px;
/* propiedades del box model */
margin-right: 30px;
/* propiedades de texto */

/* propiedades visuales */
background-color: transparent;
/* el resto de propiedades */

}

.menu li{
  /* propiedades de posicionamiento */
  position: relative;
/* propiedades del box model */
margin: 0 10px;
padding: 0;
border-radius: 3px;
/* propiedades de texto */

/* propiedades visuales */
background-color: transparent;
/* el resto de propiedades */
list-style: none;
display: block;
margin: 0 20px;
}

/* subrallado de los elemntos de navegacion */
.menu li a::before{
content: "";
height: 3px;
width: 0%;
background-color: var(--color-4);
position: absolute;
left: 0;
bottom: 2px;
transition: 0.4s ease-out;
}
.menu li a:hover::before{
  width: 100%;
}
/* subrallado de los elemntos de navegacion */



.menu li a{
padding: 7px 13px;

text-decoration: none;

background-color: transparent;

display: block;
cursor: pointer;
}

.nav__menu {
margin-right: 30px;
font-size: 2.2rem;
background-color: transparent;
cursor: pointer;
display: none;
}


.active__ul-li-img{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -10;
  border-radius: 30px;
}


.footer{
  position: relative;
  bottom: -55px;
  align-items: center;

  width: 100%;
  height: 50px;
  padding: 13px;

  text-align: center;
  
  background-color: var(--color-1);
}

.footer .elemento_nav{
  display: inline-block;

  width: 40px;
  margin: 0;
  padding: 0;

  color: var(--color-5);
}

.main__div{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.main__div-div{
  height: 200px;
  border-radius: 30px;
  padding: 20px;
  overflow: hidden;
  width: 90%;
  align-content: center;
  margin: auto;
  background-color: var(--color-1);
  display: flex;
  gap: 30px;
}

.main__div-div-1{
  width: 80%;
}

.container__slider-otros{
  height: 100%;
  overflow: hidden;
  width: 20%;
  position: relative;
  border-radius: 30px;
  margin: auto;
}
.main__div-div-2{
  height: 100%;
  margin-left: -100% ;
width: 400%;
display: flex;
}
.div-2__slider{
  width: 100%;
}
.slider__img-otros{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.container__slider-otros-2{
  height: 100%;
  overflow: hidden;
  width: 20%;
  position: relative;
  border-radius: 30px;
  margin: auto;
}
.main__div-div-2-2{
  height: 100%;
  margin-left: -100% ;
width: 400%;
display: flex;
}
.div-2__slider-2{
  width: 100%;
}
.slider__img-otros-2{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.container__slider-otros-3{
  height: 100%;
  overflow: hidden;
  width: 20%;
  position: relative;
  border-radius: 30px;
  margin: auto;
}
.main__div-div-2-3{
  height: 100%;
  margin-left: -100% ;
width: 400%;
display: flex;
}
.div-2__slider-3{
  width: 100%;
}
.slider__img-otros-3{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* slider de imagenes */
.container-slider{
width: 90%;
max-width: 1200px;
margin: auto;
overflow: hidden;
box-shadow: 0px 0px 20px #000;
position: relative;
border-radius: 40px;
}
.slider{
height: 400px;
margin-left: -100% ;

/* esto tenemos que modificar si queremos poner mas imagenes, en este caso son 4 por eso 400 */
width: 400%;
/* esto tenemos que modificar si queremos poner mas imagenes, en este caso son 4 por eso 400 */

display: flex;
}
.slider__section{
width: 100%;
}
.slider__img{
display: block;
width: 100%;
height: 100%;
/* object-fit: cover; */
}
.slider__btn{
  position: absolute;
  width: 40px;
  height: 400px;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  cursor: pointer;
  padding-top: 180px;
 
}
.slider__btn:hover{
background: rgba(255, 255, 255, 0.8);


}

.slider__btn--left{
  box-shadow: 10px 0 5px rgba(255, 255, 255, 0.5);
}

.slider__btn--right{
right: 0px;
box-shadow: -10px 0 5px rgba(255, 255, 255, 0.5);
}


.div__mieles-panal{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
}
.div__mieles-panal a{
  padding-right: 0;
  margin-right: 0px;
}
.div__mieles-panal span{
  display: relative;
  padding-top: 8px;
}

.div__mieles-panal span:hover{
  cursor: pointer;
}


.div__inicio-house{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  }
  .div__inicio-house a{
    padding-right: 0;
    margin-right: 0px;
  }
  .div__inicio-house span{
    display: relative;
    padding-top: 8px;
  }
  
  .div__inicio-house span:hover{
    cursor: pointer;
  }

  .div__registrarse-lista{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    }
    .div__registrarse-lista a{
      padding-right: 0;
      margin-right: 0px;
    }
    .div__registrarse-lista span{
      display: relative;
      padding-top: 8px;
    }
    
    .div__registrarse-lista span:hover{
      cursor: pointer;
    }






/* slider de imagenes */












/* estilo de mieles */

.mieles{
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  margin: 0;
  padding: 0;

  justify-content: space-evenly;
}

.mieles__ul{
  width: 200px;
  height: 400px;
  margin: 30px 20px ;
  padding: 0;

  list-style:none;
}

.mieles__ul-li{
  position: relative;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.mieles__ul-li-div-img{
  height: 100%;
  width: 100%;

  object-fit: cover;
}


.mieles__ul-li-div-1{
  position: absolute;

 width: 100%;
 height: 100%;

border-radius: 30px;
box-shadow: 0 5px 10px #000;

overflow: hidden;
transition: .5s;
backface-visibility: hidden;
transform: perspective(600px) rotateY(0deg);
}

.mieles__ul-li-div-2{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

 width: 100%;
 height: 100%;
 padding: 15px;


border-radius: 30px;
background-color: #c4ae89;
box-shadow: 0 5px 10px #000;

overflow: hidden;
transition: .5s;
backface-visibility: hidden;
transform: perspective(600px) rotateY(180deg);
}


.mieles__ul-li-div-1 .mieles__ul-li-div-h3{
  position: absolute;
  bottom: -10px;

  width: 100%;
  height: 45px;
  line-height: 45px;

  color: #fff;
  background-color: rgba(0,0,0,.4);

  text-align: center;
}


.mieles__ul-li:hover .mieles__ul-li-div-1{
  transform: perspective(600px) rotateY(180deg);
}

.mieles__ul-li:hover .mieles__ul-li-div-2{
  transform: perspective(600px) rotateY(360deg);
}


/* estilo de mieles */



























/* modificacion del estilo segun tamaño de pantalla */
@media screen and (max-width: 916px){
.nav ul li{
  width: 60px;
}
}












@media screen and (max-width: 858px){
  .nav__menu{
    display: inline-flex;
  }

  .nav__theme{
    left: 80px ;
  }
  .img_menu{
    padding: 0 10px;
  }
  .header{
    text-align: center;
    width: 100%;
    position: fixed;
    transition: all .4s;
    
  }
  .menu{
    position: fixed;
    right: 0;

    width: 40vw;
    margin: 0;
    flex-direction: column;
    height: calc(100% - 70px);
    top: -100vh;
    text-align: center;
    transition: all .4s ;
  }


  .menu li a{
    display: inline-block;
  }
  /* subrallado de los elemntos de navegacion */
  .menu li a:hover::before{
    width: 90px;
  }
  /* subrallado de los elemntos de navegacion */
  

  .show{
    top: 70px;
    background-color:var(--color-1);
    z-index: 10;
  } 


  .slider{
    height: 200px;
  }
  .slider__btn{
    width: 20px;
    height: 200px;
    padding-top: 85px;
  }
  .main__div-div{
    height: 130px;
    padding: 10px;
  }

  .main__div-div-1{
    width: 60%;
  }

  .main__div-div-1 h2{
    font-size: 1.5em;
  }
  
  .container__slider-otros{
    width: 40%;
  }
  .container__slider-otros-2{
    width: 40%;
  }
  .container__slider-otros-3{
    width: 40%;
  }

}
/* modificacion del estilo segun tamaño de pantalla */
















/* estilo del formulario */

.formulario{
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 20px;
}

.formulario_label{
  display: block;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

.formulario_grupo_input{
position: relative;
}

.formulario_input{
  width: 100%;
  background: white;
  border: 3px solid transparent;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: .3s ease all;
}
.formulario_input:focus{
  border: 3px solid #0075ff;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.formulario_input_error{
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.formulario_input_error-activo{
display: block;
}

.formulario_validacion{
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.formulario_checkbox{
  margin-right: 10px;
}

.formulario_grupo_terminos, .formulario_mensaje, .formulario_div_boton{
  grid-column: span 2;
}

.formulario_mensaje{
  height: 45px;
  line-height: 45px;
  background: #f66860;
  padding: 0 15px;
  border-radius: 3px;
  margin: 0;
  display: none;
}

.formulario_mensaje-activo{
  display: block;
}

.formulario_p_boton{
  position: relative;
  top: 6px;
  font-weight: 500;
}

.formulario_div_boton{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario_boton{
  height: 45px;
  line-height: 45px;
  width: 30%;
  background: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .1s ease all;
}

.formulario_boton:hover{
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario_texto_exito{
  font-size: 14px;
  color: #119200;
  display: none;
}

.formulario_texto_exito-activo{
  display: block;
}


.formulario_grupo-correcto .formulario_validacion{
  color: #1ed12d;
  opacity: 1;
}

.formulario_grupo-incorrecto .formulario_label{
  color: #bb2929;
}

.formulario_grupo-incorrecto .formulario_validacion{
  color: #bb2929;
  opacity: 1;
}

.formulario_grupo-incorrecto .formulario_input{
  border: 3px solid #bb2929;
  
}






@media screen and (max-width: 800px){
  .formulario{
      grid-template-columns: 1fr;
  }
  .formulario_grupo_terminos, .formulario_mensaje, .formulario_div_boton{
      grid-column: span 1;
  }
  .formulario_boton{
      width: 100%;
  }
}


